@charset "UTF-8";

/*-------------------------------------------------------------------------FONTE PERSONALIZADA------------------------------------------------------------------------------------------------*/
@font-face {
    font-family: "Jockey One";
    src: url('../JockeyOne-Regular.ttf');
}

body {
    background-color: #8cbeb2;
    font-family: Jockey system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

/*----------------------------------------------------------------------------------BOTOES, TÍTULO E SLOGAN---------------------------------------------------------------------------------------------------*/

.titulo {
    position: sticky;
    margin-left: 80px;
    display: flex;
}

a.botao {
    text-decoration: none;
    color: black;
    background-color: #ff9e30;
    height: 22px;
    width: 100px;
    padding: 5px;
    border-radius: 8px;
    font-weight: bold;
    display: inline-block;
    transition: 0.2s;
    text-align: center;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.356);
}

a.botao:hover {
    background-color: #feffe3;
    transform: scale(1.1);
}

a.botao:active {
    background-color: #ff8800;
    color: #feffe3;
}

div.menu {
    position: fixed;
    top: 2px;
    right: 100px;
    display: flex;
    gap: 40px;
    z-index: 100;
}

.bandeira {
    padding-left: 70px;
}

.slogan {
    position: absolute;
    top: 8%;
    display: flex;
    right: 22%;
    font-weight: bold;
    font-size: larger;
}

.perfil img {
    position: fixed;
    top: 2px;
    right: 100px;
    display: flex;
    gap: 40px;
    margin-top: 4px;
    transition: 200ms;
    right: 30px;
    background-color: #ff9e30;
    border-radius: 50%;
    z-index: 100;
}

.perfil:hover img {
    transform: scale(1.5);
    transition: 200ms;
    background-color: #feffe3;
}

.perfil:active img {
    filter: invert(1);
    transition: 200ms;
    background-color: #0077ff;
}

/*---------------------------------------------------------------------------------------------------OFERTAS--------------------------------------------------------------------------------------------------*/
.ofertas {
    background-color: #feffe3;
    border-radius: 8px;
    position: absolute;
    width: 600px;
    height: 720px;
    top: 18%;
    left: 30px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.356);
}

.ofertas h2 {
    margin-top: 9px;
    margin-bottom: 20px;
    font-size: 30px;
    text-align: center;
    font-weight: normal;
}

.caixa {
    background-color: #8cbeb2;
    border-radius: 8px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.466);
    padding: 20px;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    transition: 200ms;
    gap: 10px;
}

.caixa:hover {
    transform: scale(1.1);
    transition: 200ms;
    background-color: #ff8800;
    cursor: pointer;
}

.caixa img {
    border-radius: 8px;
    min-width: 200px;
    max-width: 200px;
    max-height: 150px;
    min-height: 150px;
    margin-right: 15px;
}

.riscado {
    font-size: small;
}

.preço {
    text-align: center;
}

.compra {
    text-decoration: none;
    color: black;
}

/*-------------------------------------------------------------------------------------------------INPUTS--------------------------------------------------------------------------------------------------------*/
.busca {
    position: absolute;
    background-color: #feffe3;
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.356);
    height: 2000;
    width: 1050px;
    right: 50px;
    top: 18%;
}

.busca form {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.campo {
    display: flex;
    align-items: center;
    background: #fffdd0;
    border-radius: 8px;
    padding: 20px 20px;
    width: 1000px;
    border: 1px solid #ccc;
    transition: 200ms;
    cursor: pointer;
}

.campo:hover {
    background-color: #ff9e30;
    transition: 200ms;
    transform: scale(1.02);
}

.campo .icone {
    margin-right: 10px;
    font-size: 18px;
}

.campo select,
.campo input {
    border: none;
    outline: none;
    flex: 1;
    background: transparent;
    font-size: 14px;
}


.campo1 {
    display: flex;
    align-items: center;
    background: #fffdd0;
    border-radius: 8px;
    padding: 20px 20px;
    width: 1000px;
    border: 1px solid #ccc;
    transition: 200ms;
    cursor: pointer;
}

.campo1:hover {
    background-color: #ff9e30;
    transition: 200ms;
    transform: scale(1.02);
}

.campo1 .icone {
    margin-right: 10px;
    font-size: 18px;
}

.campo1 select,
.campo1 input {
    border: none;
    outline: none;
    flex: 1;
    background: transparent;
    font-size: 14px;
}

.icone1 img {
    width: 20px;
}

.icone2 img {
    width: 20px;
}

.icone3 img {
    width: 20px;
}

div.button a {
    position: absolute;
    text-decoration: none;
    color: black;
    background-color: #ff9e30;
    height: 22px;
    width: 100px;
    padding: 5px;
    border-radius: 8px;
    font-weight: bold;
    display: inline-block;
    transition: 0.2s;
    text-align: center;

    top: 62%;
    right: 30%;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.356);
}

div.button:hover a {
    background-color: #feffe3;
    transform: scale(1.1);
}

div.button:active a {
    background-color: #ff8800;
    color: #feffe3
}


/*----------------------------------------------------------------------------------------------------AVALIAÇÕES ETC-----------------------------------------------------------------------------------------------------------*/

.cards-container {
    display: flex;
    gap: 10px;
    position: absolute;
    bottom: 4%;
    right: 50px;

}

.card {
    background: #feffe3;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: 200px;
    width: 530px;
    gap: 0px;

}

.card .icon1 {
    width: 320px;
    margin-bottom: 5px;
    filter: sepia(100%) contrast(400%);

}

.card .icon2 {
    width: 110px;
    margin-bottom: 15px;
    margin-bottom: -60px;
}

.card .texto {
    padding-top: 40px;
}

/*----------------------------------------------------------------------------------------------------------PÁGINA DE PERFIL------------------------------------------------------------------------------------------------------*/

.meuperfil {
    background-color: #feffe3;
    left: 150px;
    text-align: center;
    width: 200px;
    position: relative;
    border-radius: 4px;
    top: 19px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.466);
    margin: 1px;
    margin-bottom: 22px;
}

.infocliente {
    position: relative;
    background-color: #feffe3;
    left: 151px;
    width: 1600px;
    border-radius: 4px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.466);
    height: 280px;
}

.infocliente h3 {
    position: relative;
    margin-left: 280px;
    top: 120px;
}

.infocliente img {
    position: relative;
    bottom: 55px;
    left: 10px;
}

.minhasviagens {
    background-color: #feffe3;
    left: 150px;
    text-align: center;
    width: 200px;
    height: 32px;
    position: relative;
    border-radius: 4px;
    top: 19px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.466);
    border: #ff8800;
    margin: 1px;
    margin-bottom: 22px;
}

.vazia {
    position: relative;
    background-color: #feffe3;
    left: 151px;
    width: 1600px;
    border-radius: 4px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.466);
    height: 280px;
}


/*-------------------------------------------------------------------------------PAGAMENTOS-------------------------------------------------------------------------------------------------
.suporte {
    background-color: #ff9e30;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    text-align: center;
    transition: 200ms;
    z-index: 100;
}

.suporte:hover {
    background-color: #feffe3;
    transform: scale(1.1);
    transition: 200ms;
    cursor: pointer;
}

.suporte:active {
    background-color: #ff8800;
    filter: invert(1);
    transition: 200ms;
    background-color: #0077ff;
}

.suporte img {
    margin-top: 9px;
}

.pagamento {
    background-color: #feffe3;
    width: 1200px;
    height: 5000px;
    position: sticky;
    left: 500px;
    z-index: 10;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    z-index: 10;
}

.foto-capa {
    border-radius: 5px;
    min-width: 900px;
    max-width: 900px;
    max-height: 2500px;
    min-height: 250px;
    margin-top: 40px;
    margin-left: 160px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    z-index: 10;
}

.curtida {
    background-color: #ff9e30;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    right: 16px;
    top: 16px;
    z-index: 10;
}

.curtida img {
    padding-left: 4px;
    padding-top: 4px;
    transition: 200ms;
}

.curtida:hover {
    background-color: #feffe3;
    cursor: pointer;
    transform: scale(1.16);
    transition: 200ms;
}

.curtida:active {
    background-color: #ff8800;
    filter: invert(1);
    background-color: #0077ff;
    transition: 200ms;
}

.pagamento .img {
    width: 250px;
    margin-left: 60px;
    filter: sepia(100%) contrast(400%);
}

.pagamento{
    h1{margin-left: 60px;}
    h2{margin-left: 60px;}
    h3{margin-left: 60px;}
    h5{margin-left: 80px;}
}




.valor {
    border: 1px solid #ff9e30;
    border-radius: 10px;
    position: absolute;
    z-index: 10;
    width: 550px;
    height: 1000px;
    right: 20px;
    top: 716px;
}

.valor {
    h1 {

        margin-left: 30px;
    }

    h4 {
        margin-left: 30px;
        font-weight: normal;
    }
}*/